django==4.2.6

django-redis==5.4.0
django-environ==0.11.2
django-cleanup==8.0.0
psycopg2-binary==2.9.9
django-tailwind==3.6.0
django-browser-reload==1.12.0

django-storages==1.14.2
django-cors-headers==4.3.0
django-celery-beat==2.5.0
django-ratelimit==4.1.0
dj-database-url==2.1.0
social-auth-app-django==5.4.0

django-quill-editor==0.1.40
djangorestframework==3.14.0

beautifulsoup4==4.12.2
celery==5.3.4
redis==5.0.0

Pyrebase4==4.7.1
firebase-admin==6.2.0
google-cloud-storage==2.12.0

whitenoise==6.6.0

markdown==3.5.1
docutils==0.20.1
typeguard==4.1.5

pytz==2023.3.post1
lxml==4.9.3

requests==2.31.0

gunicorn
