{% extends './base.html' %} 
{% load static %} 


{% block fullpage %}
    <div class="tw-bg-white tw-text-black tw-fixed tw-top-0 tw-z-[5000] 
                    tw-flex max-md:tw-place-content-center 
                    tw-items-center tw-h-full tw-w-full">
        
        <div class="max-md:tw-hidden tw-max-w-[30%] tw-flex 
                    tw-h-[80%] tw-p-4 tw-rounded-3xl
                        lg:tw-ml-[20%]
                        tw-overflow-hidden ">
            <img src="{% static "./assets/images/open-source.svg" %}" class="tw-w-full" alt="" srcset="">
        </div>

        <div  class="tw-w-[350px] tw-min-h-[250px] tw-h-max tw-bg-white
                        tw-rounded-lg tw-p-3 tw-text-center tw-flex tw-flex-col tw-gap-3 max-md:tw-shadow-lg
                        lg:tw-ml-auto lg:tw-mr-[20%]
                        "
            >  
            {% comment %} <a href="{% provider_login_url 'github' method='js_sdk' %}?next=https://github.com"
                class="btn btn-light bi bi-gitlab">
                Continue with GitLab
            </a> {% endcomment %}
            <a href="{% url 'social:begin' 'github' %}?next={{ request.GET.next }}"
                class="btn-dark btn">
                <i class="bi bi-github"></i>
                <span>Continue with Github</span>
            </a>
            
        </div>

    </div>
{% endblock fullpage %}