{% load static %}
{% load tailwind_tags %}
{% load django_browser_reload %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="" />
    <link rel="shortcut icon" href="{% static 'assets/logos/favicon.ico' %}" type="image/x-icon">
    <meta name="msapplication-TileColor" content="#603cba">
    <meta name="theme-color" content="#ffffff">
   
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap" rel="stylesheet">
    
    <title>{% if page_title %}{{page_title}}{% else %}Browse-Docs{% endif %}</title>
    
    {% tailwind_css %}

    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- Option 1: Include in HTML -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js" integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/markdown-it@13.0.1/dist/markdown-it.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked@7.0.0/lib/marked.umd.min.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/fetch-retry@5.0.6/dist/fetch-retry.umd.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>

    {% comment %} <link href="https://cdn.quilljs.com/1.0.0/quill.snow.css" rel="stylesheet" />
    <script src="https://cdn.quilljs.com/1.0.0/quill.js"></script> {% endcomment %}
    {% comment %} <script src="https://unpkg.com/quill-image-compress@1.2.11/dist/quill.imageCompressor.min.js"></script> {% endcomment %}
    
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/quill/2.0.0-dev.4/quill.snow.css" integrity="sha512-GivcExJD5rBG3kdKHpTitaOKkKa073axVCLnludHsOmnthyTFxmjhTFfkXbe/3qQVwtMLdb8hhK1LjzfBDifIQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/quill/2.0.0-dev.4/quill.min.js" integrity="sha512-s5yxCy6NoFieG522AqCHSTZnd9LEa38FF3sOZHPhfHUQBdiF/NTJV8qwkvJWz5F9cHrNZtImaEURkOv3tI5emA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/quill/2.0.0-dev.3/quill.min.js" integrity="sha512-1EDRc5thQortr3K4orQqDx334y5nR3MAzbcQLBCE+JfvcrKHqMjfYUX/4Hb4p2lb60gEOngN87j6zvHWU3HlEw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> {% endcomment %}

    <link rel="stylesheet" href="{%static './css/index.css'%}">
    
    <script src="{% static "./js/utils/common.js" %}"></script>
    <script src="{% static "./js/utils/constants.js" %}"></script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{gtag}}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '{{gtag}}');
    </script>

    </head>
{% comment %} <body class="tw-min-h-[100vh]" data-bs-theme="dark"> {% endcomment %}
<body class="tw-min-h-[100vh] tw-bg-[#0F172A] !tw-text-white tw-overflow-x-hidden" data-bs-theme="dark">
    
    {% block fullpage %}{% endblock fullpage %}

    <nav class="navbar navbar-expand-lg navbar-dark fixed-top max-sm:!tw-bg-[#0F172A] max-sm:!tw-shadow-xl">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
          <a class="navbar-brand tw-flex tw-gap-1 tw-justify-center tw-place-items-center" href="/">
            {% comment %} <img src="{% static ''%}" alt="Logo" 
                width="40" height="40" class="d-inline-block align-text-top !tw-fill-slate-400"> {% endcomment %}
            <span> {% if project %}{{project}}{% else %}BrowseDocs{% endif %}</span> 
          </a>
          <div class="tw-justify-self-center collapse navbar-collapse" id="navbarTogglerDemo01">
            <div class="navbar-nav">
                <a class="nav-link hover:tw-text-blue-400" href="">About</a>
                <a class="nav-link hover:tw-text-blue-400" href="">Docs</a>
                <a class="nav-link hover:tw-text-blue-400" href="">Tutorials</a>
                <a class="nav-link hover:tw-text-blue-400" href="">Blogs</a>
            </div>

            <div class="navbar-nav tw-ml-auto max-md:!tw-place-items-center tw-gap-4">
                <div class="sm:tw-hidden tw-flex tw-w-[250px] tw-bg-inherit tw-rounded-full 
                            tw-border-solid tw-border tw-h-[40px] tw-place-items-center tw-p-3
                            tw-cursor-pointer tw-border-gray-500
                            " 
                            id="nav-search"
                            onclick="showQuickSearch()">
                    {% comment %} <input type="text" class="tw- tw-bg-inherit tw-rounded-full" name="" id=""> {% endcomment %}
                    <i class="bi bi-search"></i>
                    <div class="tw-p-2 tw-ml-auto">
                        <button type="button" class="key-btn tw-px-3" onclick="hideQuickSearch()">Ctrl</button>
                        <span>+</span>
                        <button type="button" class="key-btn tw-px-3" onclick="hideQuickSearch()">k</button>
                    </div>
                </div>
                <button class="bi bi-brightness-high-fill btn btn-lg" id="theme">
                    <i></i>
                </button>
                {% if user.is_authenticated %}
                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" id="profile" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="https://github.com/{{request.user.username}}.png" class="tw-w-[30px] tw-h-[30px] tw-rounded-full" alt="" srcset="">
                    </button>
                    <div class="dropdown-menu" style="right: 0; left: auto;" aria-labelledby="profile">
                        <a class="dropdown-item" href="{% url "docs-create" %}">Create Documentation</a>
                        <a class="dropdown-item" href="{% url "create-tutorial" %}">Write tutorial</a>
                        <hr class="dropdown-divider">
                        <a class="dropdown-item" href="#">My Documentations</a>
                        <hr class="dropdown-divider">
                        <a class="dropdown-item tw-flex tw-gap-4" href="{% url "logout" %}">
                            <span>Logout</span>
                            <i class="bi bi-power !tw-ml-auto"></i>
                        </a>
                    </div>
                </div>
                {% else %}
                    <a class="browserdoc-btn" href="{% url "login" %}">
                        Login
                    </a>
                {% endif %}
            </div>
        
        </div>
        </div>
        
    </nav>


    <div id="error-toast" class="toast tw-h-max tw-z-[5000] tw-fixed tw-top-[5%] tw-left-[50%] tw-translate-x-[-50%] align-items-center text-bg-dark border-0" 
        role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
          <div class="toast-body" id="error-toast-body">
           
          </div>
          <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>

    <div class="quick-search tw-hidden" id="quick-search-container">
        <div class="input tw-flex">
            <input type="text" name="" 
                                    class="tw-w-full tw-bg-transparent
                                                tw-border-none active:tw-border-none 
                                                focus:tw-border-none" 
                                    placeholder="Quick search..."
                                    id="quick-search"
                                    autofocus
                                        >
            <div class="tw-p-2">
                <button type="button" class="key-btn" onclick="hideQuickSearch()">Esc</button>
            </div>
        </div>
        <div class="tw-flex tw-w-full tw-flex-col tw-max-h-[450px] tw-overflow-y-auto" 
             id="search-dropdown">
             
        </div>
    </div>

    <div class="tw-h-[100%] tw-min-h-[100vh] tw-mt-[70px]">

        {% block content %}
            
        {% endblock content %}
    </div>

        
    <footer class="tw-flex tw-flex-col tw-z-[100] tw-p-2 p-4 tw-text-gray-600 shadow-[0px_0px_3px_#000] tw-justify-around">
        
        <div class="tw-flex tw-flex-wrap tw-mx-auto tw-text-decoration-none tw-place-items-center">
            <a href="{% url 'privacy' %}" >privacy</a>
            <a href="{% url 't&c' %}">.&nbsp; terms and conditions.&nbsp;</a>
            <a href="https://github.com/PaulleDemon/Email-automation/issues" target="_blank" rel="noreferrer" class="tw-m-2">
                <span>Report bugs </span> <i class="tw-text-xl bi bi-github"></i>
            </a>
            
        </div>

        <a href="https://browsedocs.com/" class="tw-mx-auto">
            Powered by BrowseDocs
        </a>
    </footer>
    <script src="{% static "./js/base.js" %}"></script>
   
    <script>
        // Timezone settings
        const timezone = Intl.DateTimeFormat().resolvedOptions().timeZone; // e.g. "America/New_York"
        document.cookie = "user_timezone=" + timezone;
    </script>
</body>
</html>