{% extends 'base.html' %}
{% load static %}

{% load custom_tags %}

{% block content %}
<div class="tw-min-h-[100vh] tw-w-full tw-overflow-x-hidden tw-flex tw-flex-col 
            tw-leading-8 tw-items-center tw-p-4">

    <div class="tw-text-4xl">
        OpenSource Documentation
    </div>

    <div class="tw-text-base md:tw-mx-[30%] tw-mt-6">
        Welcome to our open-source documentation hosting platform, 
        designed for ease documentation creation for tools and libraries.
        Utilize the simplicity of Markdown to craft clear and 
        concise documentation, ensuring your ideas shine effortlessly.
    </div>

    <div class="tw-w-full tw-flex tw-place-content-center tw-mt-10">
        <a href="{% url "project-create" %}" class="browserdoc-btn">Create documentation</a>
    </div>

    <div class="tw-text-4xl tw-mt-[5%]">
        Popular projects
    </div>

    <div class="tw-flex tw-flex-wrap tw-gap-10 tw-mt-[3%] md:tw-mx-[10%]">

        {% for project in projects  %}
            <div class="tw-border-solid tw-border-[1px] tw-bg-gray-800
            tw-rounded-lg tw-w-[400px] md:tw-max-w-[450px] tw-h-[200px] max-md:tw-w-[100%] 
            tw-p-4 tw-flex  max-sm:tw-max-w-full tw-cursor-pointer
            " 
            onclick="updateUrl('{% url "get-docs" name=project.name version=project.documentation_set.last.version unique_id=project.unique_id %}')">

                {% if project.project_logo %}
                    <img src="{{project.project_logo}}" 
                            class="tw-w-[50px] tw-h-[50px]"
                            alt="" srcset="">
                {% endif %}

                <div class="tw-ml-[4%] tw-flex tw-flex-col tw-max-w-[80%] tw-overflow-x-hidden">
                    <div class="tw-text-xl tw-w-full">
                        {{project.name}}
                    </div>
                    <div class="tw-mt-[2%] tw-text-sm tw-w-full tw-text-gray-400">
                        @{{project.unique_name}}
                    </div>
                    <div class="tw-mt-[2%] tw-max-h-[40%] tw-w-full tw-overflow-hidden tw-text-gray-400">
                        {{project.about}}
                    </div>
                    {% if project.user == request.user %}
                        <div class="tw-flex tw-justify-between tw-mt-2 tw">
                            <a class="btn btn-success w-50 bi bi-pencil-square" href="{% url "project-create" %}?step=2&repo_name={{project.source|extract_path}}&edit={{project.id}}">
                                Edit    
                            </a>
                            <button type="button" class="btn btn-primary bi bi-arrow-clockwise" onclick="updateDocument('{{project.id}}')">
                                Update
                            </button>
                        </div>
                    {% endif %}
                </div>
            </div>

        {% endfor %}

    </div>

    <a href="{% url "doc-list" %}" class="btn btn-primary tw-mt-[5%] tw-w-[250px]">Load more</a>

</div>
{% endblock content %}