{% extends './html/base.html' %}

{% load tz %}
{% load static %}

{% load custom_tags %}

{% block content %}

<div class="tw-flex tw-flex-col tw-h-full tw-w-full md:tw-px-[25%] tw-place-items-center tw-p-3">

    <div id="table-context-menu" class="tw-w-[250px] tw-min-h-[100px] tw-bg-white tw-rounded-md 
                                         tw-text-gray-700
                                         tw-z-10 tw-hidden
                                         tw-fixed
                                        ">
        <button class="tw-text-lg hover:tw-bg-blue-200 tw-p-[10px]
                    tw-bg-inherit tw-text-inherit tw-border-none
                    tw-rounded-md tw-w-full tw-flex tw-gap-[5%] tw-cursor-pointer"
                    onclick="insertColumnRight()"
                    >
            <i class="bi bi-arrow-right-square-fill"></i>
            <div>Insert column right</div>
        </button>
        <button class="tw-text-lg hover:tw-bg-blue-200 tw-p-[10px]
                    tw-bg-inherit tw-text-inherit tw-border-none
                    tw-rounded-md tw-w-full tw-flex tw-gap-[5%] tw-cursor-pointer"
                    onclick="insertColumnLeft()"
                    >
            <i class="bi bi-arrow-left-square-fill"></i>
            <div>Insert column left</div>
        </button>
        <button class="tw-text-lg hover:tw-bg-blue-200 tw-p-[10px]
                    tw-bg-inherit tw-text-inherit tw-border-none
                    tw-rounded-md tw-w-full tw-flex tw-gap-[5%] tw-cursor-pointer"
                    onclick="insertRowAbove()"
                    >
            <i class="bi bi-arrow-up-square-fill"></i>
            <div>Insert row above</div>
        </button>
        <button class="tw-text-lg hover:tw-bg-blue-200 tw-p-[10px]
                    tw-bg-inherit tw-text-inherit tw-border-none
                    tw-rounded-md tw-w-full tw-flex tw-gap-[5%] tw-cursor-pointer"
                    onclick="insertRowBelow()"
                    >
            <i class="bi bi-arrow-down-square-fill"></i>
            <div>Insert row below</div>
        </button>
        <button class="tw-text-lg hover:tw-bg-blue-200 tw-p-[10px] 
                    tw-bg-inherit tw-text-inherit tw-border-none
                    tw-rounded-md tw-w-full tw-flex tw-gap-[5%] tw-cursor-pointer"
                    onclick="deleteRow()"
                    >
            <div>
                <i class="bi bi-align-center"></i>
            </div>
            <div>Delete row</div>
        </button>
        <button class="tw-text-lg hover:tw-bg-blue-200 tw-p-[10px] 
                    tw-bg-inherit tw-text-inherit tw-border-none
                    tw-rounded-md tw-w-full tw-flex tw-gap-[5%] tw-cursor-pointer"
                    onclick="deleteColumn()"
                    >
            <div>
                <i class="bi bi-align-middle"></i>
            </div>
            <div>Delete row column</div>
        </button>
        <button class="tw-text-lg hover:tw-bg-blue-200 tw-p-[10px] 
                        tw-bg-inherit tw-text-inherit tw-border-none
                        tw-rounded-md tw-w-full tw-flex tw-gap-[5%] tw-cursor-pointer"
                        onclick="deleteTable()"
                        >
            <div>
                <i class="bi bi-trash-fill"></i>
            </div>
            <div>Delete table</div>
        </button>
    </div>

	<input type="text" maxlength="250" placeholder="Title" 
						class="tw-border-none
								tw-bg-transparent tw-border-b-2 tw-w-full
                tw-text-5xl tw-font-normal
                active:tw-border-none focus-within:tw-border-none
                " 
                id="">

    <div id="editor" style="min-height: 100vh;" class="tw-w-full">
    </div>

	<div class="tw-flex tw-flex-col tw-place-content-center tw-place-items-center tw-mt-[3%]">
		<span class="tw-text-lg tw-mr-2">add tags</span>
		<input type="text" maxlength="250" placeholder="Add tags" 
				class="tw-border-none tw-border-gray-300 
						tw-bg-transparent tw-border-b-2 tw-w-full" 
				id="">
	</div>

	<input type="submit" class="btn btn-primary tw-mt-[2%] tw-w-[250px]" value="Draft">
	<input type="submit" class="btn btn-success tw-mt-[2%] tw-w-[250px]" value="Publish">

</div>
<link rel="stylesheet" href="{% static "./css/quill-config.css" %}">

<script src="{% static "./js/editor/quill-modules.js" %}"></script>
<script src="{% static "./js/editor/quill-configurations.js" %}"></script>
{% endblock content %}