{% extends './html/base.html' %}

{% load tz %}
{% load static %}

{% load custom_tags %}

{% block content %}

<div class="tw-flex tw-flex-col tw-h-full 
            tw-w-full md:tw-px-[25%] tw-place-items-center 
            tw-p-3 tw-min-h-[100vh]">

    <a href="{% url "create-tutorial" %}" class="btn btn-success tw-ml-auto">
        Write Tutorial
    </a>

    {% if tutorials|length == 0 %}

        <div class="tw-w-full tw-mt-[10%] tw-flex tw-flex-col tw-text-center tw-text-xl tw-place-items-center">
            <p>No tutorials yet. Write one</p> 
            <a href="{% url "create-tutorial" %}?project_id={{base.unique_id}}" class="browserdoc-btn tw-w-max ">
                Write Tutorial
            </a>
        </div>

    {% endif %}

    {% for tutorial in tutorials  %}

        {% if tutorial.project %}
        
            {% url 'get-tutorial' id=tutorial.id title=tutorial.title|slugify project_id=tutorial.project.unique_id as tutorial_url %}
        {% else %}
            {% url 'get-tutorial' id=tutorial.id title=tutorial.title|slugify as tutorial_url %}

        {% endif %}

        <a href="{{tutorial_url}}" 
                                    class="tw-text-md tw-w-full tw-h-full">
            <div class="tw-text-4xl tw-w-full">
                {{tutorial.title}}
            </div>
            <div class="tw-mt-[2%] tw-mb-[5%] tw-w-full">
                {{tutorial.body.html|slice:":300"|strip_html_tags|safe}} <span class="!tw-text-blue-500" style="color: #3495eb;">continue reading...</span>
            </div>
        </a>
    {% endfor %}

    {% if tutorials.has_previous or tutorials.has_next %}
        <ul class="pagination justify-content-center flex-wrap mt-2 mb-4">
            {% if tutorials.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ tutorials.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li class="disabled page-item"><span class="page-link">&laquo;</span></li>
            {% endif %}
            {% for i in page_range|default_if_none:tutorials.paginator.get_elided_page_range  %}
                {% if tutorials.number == i %}
                    <li class="active page-item"><span class="page-link">{{ i }}</span>
                    </li>
                {% else %}
                    {% if i == tutorials.paginator.ELLIPSIS %}
                        <li class="page-item"><span class="page-link">{{ i }}</span></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% if tutorials.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ tutorials.next_page_number }}">&raquo;</a></li>
            {% else %}
                <li class="disabled page-item"><span class="page-link">&raquo;</span></li>
            {% endif %}
        </ul>
    {% endif %}

</div>

<script>
    const tables = document.querySelectorAll('table')

    tables.forEach((ele) => {
        ele.classList.add("table", "table-striped", "table-bordered", "tw-overflow-auto", "tw-max-w-full")
    })
</script>

{% endblock content %}