{% extends './html/base.html' %}

{% load tz %}
{% load static %}

{% load custom_tags %}

{% block content %}

<div class="tw-flex tw-flex-col tw-h-full tw-w-full md:tw-px-[25%] tw-place-items-center tw-p-3"
        id="blog-editor">

    {% if errors %}
        <div class="alert alert-danger">
            {% for error in errors  %}
                {{error}}
            {% endfor %}
        </div>
    {% endif %}

    <div id="table-context-menu" class="tw-w-[250px] tw-min-h-[100px] tw-bg-white tw-rounded-md 
                                         tw-text-gray-700
                                         tw-z-10 tw-hidden
                                         tw-fixed
                                        ">
        <button class="tw-text-lg hover:tw-bg-blue-200 tw-p-[10px]
                    tw-bg-inherit tw-text-inherit tw-border-none
                    tw-rounded-md tw-w-full tw-flex tw-gap-[5%] tw-cursor-pointer"
                    onclick="insertColumnRight()"
                    >
            <i class="bi bi-arrow-right-square-fill"></i>
            <div>Insert column right</div>
        </button>
        <button class="tw-text-lg hover:tw-bg-blue-200 tw-p-[10px]
                    tw-bg-inherit tw-text-inherit tw-border-none
                    tw-rounded-md tw-w-full tw-flex tw-gap-[5%] tw-cursor-pointer"
                    onclick="insertColumnLeft()"
                    >
            <i class="bi bi-arrow-left-square-fill"></i>
            <div>Insert column left</div>
        </button>
        <button class="tw-text-lg hover:tw-bg-blue-200 tw-p-[10px]
                    tw-bg-inherit tw-text-inherit tw-border-none
                    tw-rounded-md tw-w-full tw-flex tw-gap-[5%] tw-cursor-pointer"
                    onclick="insertRowAbove()"
                    >
            <i class="bi bi-arrow-up-square-fill"></i>
            <div>Insert row above</div>
        </button>
        <button class="tw-text-lg hover:tw-bg-blue-200 tw-p-[10px]
                    tw-bg-inherit tw-text-inherit tw-border-none
                    tw-rounded-md tw-w-full tw-flex tw-gap-[5%] tw-cursor-pointer"
                    onclick="insertRowBelow()"
                    >
            <i class="bi bi-arrow-down-square-fill"></i>
            <div>Insert row below</div>
        </button>
        <button class="tw-text-lg hover:tw-bg-blue-200 tw-p-[10px] 
                    tw-bg-inherit tw-text-inherit tw-border-none
                    tw-rounded-md tw-w-full tw-flex tw-gap-[5%] tw-cursor-pointer"
                    onclick="deleteRow()"
                    >
            <div>
                <i class="bi bi-align-center"></i>
            </div>
            <div>Delete row</div>
        </button>
        <button class="tw-text-lg hover:tw-bg-blue-200 tw-p-[10px] 
                    tw-bg-inherit tw-text-inherit tw-border-none
                    tw-rounded-md tw-w-full tw-flex tw-gap-[5%] tw-cursor-pointer"
                    onclick="deleteColumn()"
                    >
            <div>
                <i class="bi bi-align-middle"></i>
            </div>
            <div>Delete column</div>
        </button>
        <button class="tw-text-lg hover:tw-bg-blue-200 tw-p-[10px] 
                        tw-bg-inherit tw-text-inherit tw-border-none
                        tw-rounded-md tw-w-full tw-flex tw-gap-[5%] tw-cursor-pointer"
                        onclick="deleteTable()"
                        >
            <div>
                <i class="bi bi-trash-fill"></i>
            </div>
            <div>Delete table</div>
        </button>
    </div>

    <form action="" method="post" enctype="multipart/form-data" onsubmit="return onSubmit()">
        {% csrf_token %}
        {% comment %} <div contenteditable="true" aria-multiline="true"
                class="tw-border-none
                        tw-bg-transparent tw-w-full
                        tw-text-5xl tw-font-normal
                        active:tw-border-none focus-within:tw-border-none"
        >Title</div> {% endcomment %}

        <input type="hidden" id="blog-id" name="id" value="{{blog.id}}">

        <textarea  class="tw-border-none
                            tw-bg-transparent tw-border-b-2 tw-w-full
                            tw-text-4xl tw-font-normal
                            tw-overflow-hidden
                            focus:tw-outline-none
                            active:tw-outline-none
                            tw-resize-none
                            " 
                            maxlength="150"
                            name="title"
                            placeholder="Title"
                            id="blog-title"
                            value="{{blog.title}}">{{blog.title}}</textarea>

        {% comment %} <input type="text" maxlength="200" placeholder="Title" 
                            value="{{blog.title}}"
                            class="tw-border-none
                                    tw-bg-transparent tw-border-b-2 tw-w-full
                                    tw-text-5xl tw-font-normal
                                    active:tw-border-none focus-within:tw-border-none
                                    " 
                                    id="blog-title"> {% endcomment %}

        <textarea name="body" style="display:none" id="quill-textarea"></textarea>

        {% comment %} Quill editor is below and quill text area is above for saving {% endcomment %}
        <div id="editor" style="min-height: 10vh; margin-top: 20px;" class="tw-w-full">
        </div>

        <div class="tw-flex tw-flex-col tw-place-content-center tw-place-items-center tw-mt-[3%]">
            <span class="tw-text-lg tw-mr-2">add tags</span>
            <input type="text" maxlength="250" placeholder="Add tags" 
                    name="tags"
                    class=" tw-border-gray-300 tw-border-b-2
                            tw-border-0
                            focus:tw-outline-none
                            tw-bg-transparent tw-w-full" 
                    value="{{blog.tags}}"
                    id="tags">
        </div>
        
        <div class="tw-flex tw-flex-col tw-gap-1 tw-mt-[5%]">
            <input type="hidden" maxlength="5" 
                    {% comment %} class="input tw-max-w-xs" {% endcomment %}
                    placeholder="Project id"
                    name="project"
                    id="project_id"
                    value="{% if blog.project %}{{blog.project.unique_id}}{% else %}{% endif %}">
        </div>

        <div class="tw-flex tw-gap-3">
            <button type="button" data-bs-toggle="tooltip" title="save draft" 
                    class="btn btn-primary bi bi-cloud-upload-fill tw-mt-[2%] tw-w-[100px]
                            tw-ml-auto"
                    id="save-draft"
                    onclick="saveDraft()"
                    />
            <button type="submit"
                    disabled
                    id="publish"
                    data-bs-toggle="tooltip" title="publish"
                    class="btn btn-success bi bi-floppy-fill  tw-mt-[2%] tw-w-[100px]" />
        </div>
    </form>
</div>
<link rel="stylesheet" href="{% static "./css/quill-config.css" %}">

{{ blog.body.delta|json_script:"body-data" }}


<script src="{% static "./js/editor/quill-modules.js" %}"></script>
{% comment %} <script src="{% static "./js/editor/quill-smart-paste.js" %}"></script> {% endcomment %}
<script src="{% static "./js/editor/quill-configurations.js" %}"></script>
<script src="{% static "./js/editor/blog-editor.js" %}"></script>
{% endblock content %}