{% extends './html/base.html' %}

{% load tz %}
{% load static %}

{% load custom_tags %}

{% block content %}

<div class="tw-flex tw-flex-col tw-h-full 
            tw-w-full md:tw-px-[25%] tw-place-items-center 
            tw-p-3 tw-min-h-[100vh]">

    {% if request.user == project.user  %}
        <a href="{% url "create-blog" %}" class="btn btn-success bi bi-pencil-fill tw-ml-auto">
            Write blog
        </a>
    {% endif %}

    {% if blogs|length == 0 %}

        <div class="tw-w-full tw-mt-[10%] tw-flex tw-flex-col tw-text-center tw-text-xl tw-place-items-center">
            <p>No blogs yet.</p> 
            {% if request.user == project.user  %}
            <a href="{% url "create-blog" %}?project_id={{base.unique_id}}" class="browserdoc-btn tw-w-max ">
                Write blog
            </a>
        {% endif %}
        </div>

    {% endif %}

    {% for blog in blogs  %}
        <a href="{% url 'get-blog' id=blog.id title=blog.title|slugify project_id=blog.project.unique_id  %}" 
                                    class="tw-text-md tw-w-full tw-h-full">
            <div class="tw-text-4xl tw-w-full">
                {{blog.title}}
            </div>
            <div class="tw-mt-[2%] tw-mb-[5%] tw-w-full">
                {{blog.body.html|slice:":300"|strip_html_tags|safe}} <span class="!tw-text-blue-500" style="color: #3495eb;">continue reading...</span>
            </div>
        </a>
    {% endfor %}

    {% if blogs.has_previous or blogs.has_next %}
        <ul class="pagination justify-content-center flex-wrap mt-2 mb-4">
            {% if blogs.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ blogs.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li class="disabled page-item"><span class="page-link">&laquo;</span></li>
            {% endif %}
            {% for i in page_range|default_if_none:blogs.paginator.get_elided_page_range  %}
                {% if blogs.number == i %}
                    <li class="active page-item"><span class="page-link">{{ i }}</span>
                    </li>
                {% else %}
                    {% if i == blogs.paginator.ELLIPSIS %}
                        <li class="page-item"><span class="page-link">{{ i }}</span></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% if blogs.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ blogs.next_page_number }}">&raquo;</a></li>
            {% else %}
                <li class="disabled page-item"><span class="page-link">&raquo;</span></li>
            {% endif %}
        </ul>
    {% endif %}

</div>

{% comment %} <script>
    const tables = document.querySelectorAll('table')

    tables.forEach((ele) => {
        ele.classList.add("table", "table-striped", "table-bordered", "tw-overflow-auto", "tw-max-w-full")
    })
</script> {% endcomment %}

<script src="{% static "./js/editor/blog-view.js" %}">

</script>

{% endblock content %}