*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    /* text-decoration: none; */
    list-style: inherit;
    /* font-size: 18px; */
    /* font-family: sans-serif; */
    scroll-behavior: smooth;
}


body{
    width: 100%;
    height: 100%;
}

a{
    text-decoration: none;
    color: inherit;
}

.sidebar-close{
    display: none;
}

.quick-search-dropdown{
    margin-top: 10px;
}

.quick-search-dropdown a{
    padding: 5px;
}

.search-active{
    background-color: #3e639f;
}

h1, h2, h3, h4{
    scroll-margin-top: 80px;
}

@media screen and (max-width: 1000px) {
    
    .sidebar-close{
        display: block;
    }

}