:root{

    --text-color: #fff;
    --background-color: #0F172A;
    --search-highlight-color: #d8d8d8b3;
    --codeblock-bg: #080e1c;
    --toc-highlight-bg: #20306857;
    --box-shadow-color: #d8d8d8b3;
}   

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* text-decoration: none; */
    list-style: inherit;
    /* font-size: 18px; */
    /* font-family: sans-serif; */
    scroll-behavior: smooth;
}


html, body{
    width: 100%;
    min-height: 100vh;
    /* display: flex;
    flex-direction: column; */
    color: var(--text-color);
    background-color: var(--background-color) !important;
}

a{
    text-decoration: none;
    color: inherit;
}

.primary-bg{
    background-color: var(--background-color);
}

h1, h2, h3, h4{
    scroll-margin-top: 80px;
    margin-top: 5%;
}

.subtext-color{
    /* usually a grey color used for text such as username etc*/
    color: #6f6b6b;
}

.input{
    border: 2px solid #717070;
    border-radius: 5px;
    background-color: transparent;
}

.input:focus-within{
    border: 2px solid #0072c9;
}

.input-error{
    border: 2px solid #ff1e1e;
}

.input-error:focus-within{
    border: 2px solid #fd0101;
}

.browserdoc-btn{
    border: 2px solid #717070;
    cursor: pointer;
    padding: 1px 20px;
    border-radius: 6px;
    background-color: inherit;
    display: flex;
    align-items: center;
}

.browserdoc-btn:hover{
    background-color: #0072c9;
    color: #fff;
    border: 2px solid transparent;
}

.quick-search{
    position: fixed;
    left: 50%;
    top: 30%;
    width: 40%;
    padding: 12px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    min-height: 300px;
    transform: translate(-50%);
    background-color: var(--background-color);
    /* box-shadow: 0px 2px 10px var(--box-shadow-color); */
}

.search-active{
    background-color: var(--search-highlight-color);
    border-radius: 5px;
}

.quick-search-dropdown{
    margin-top: 10px;
}

.quick-search-dropdown a{
    padding: 5px;
}

.key-btn{
    /*used to denote key*/
    max-height: max-content;
    padding: 4px;
    background-color: transparent;
    border-radius: 4px;
    outline: none;
    border: 1px solid #717070;
    max-height: min-content;
    max-width: max-content;
    font-size: small;
}

.current-heading{
    color: #1e85ec;
    border-left: 4px solid #1e85ec;
    border-radius: 0px !important;
}


.navbar{
    background-color: var(--background-color);
}

/* ------------------ doc viewer --------------------*/

.doc-viewer img{
    max-width: 100%;
}

.doc-viewer a{
    color: #1e85ec;
}

.doc-viewer table{
    /* width: 100vw; */
    overflow-x: auto;
}

#quill-editor > p{
    margin: 0px;
}

/*----dropdown -----*/
.dropdown-menu{
    background-color: var(--background-color);
}


/* ------------------ sidebar ------------------------ */
.sidebar{
    background-color: var(--background-color);
    z-index: 10;
    padding: 10px;
    height: 100%;
}

.sidebar-header, .sidebar-item{
    padding: 4px;
    border-radius: 5px;
}

.sidebar-header:hover,.sidebar-item:hover, .sidebar-active{
    background-color: #1e85ec2f;
    border-left: 4px solid #0072c9;
}

.sidebar-close{
    display: none;
}


/* -----------------utils -----------*/
.copy-btn{
    position: absolute;
    right: 10px;
    top: 2%;
    /* left: 0; */
}

.ql-code-block-container{
    /* position: relative; */
    padding: 15px;
    border-radius: 10px;
    color: var(--text-color);
    background-color: var(--codeblock-bg);
    width: 100%;
    overflow: auto;
    max-height: 1000px;
    white-space: pre;
    word-spacing: 5px;
    margin: 10px 0px;
}

.inline-code{
    color: #0072c9;
    border-radius: 5px;
    padding: 2px;
    font-weight: 600;
    background-color: #f7f4f4;
}


summary::after {
    content: '▸'; 
    margin-left: 10px; 
    display: inline-block;
    transform-origin: center;
    transition: transform 0.3s ease-in-out;
}

details[open] summary::after {
    transform: rotate(90deg);
}

details{
    padding: 10px;
    list-style: none;
    margin: 5px;
}

/* ---- table of contents ----------*/

.toc-active{
    color: #1e85ec;
    background-color: var(--toc-highlight-bg);
}

@media screen and (max-width: 1000px) {
    
    .sidebar-close{
        display: block;
    }

    .quick-search{
        width: 80%;
    }

}